@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --body-color: #1c1c1c;
  --background-color: #1f2937;
  --password-box-color: #273549;
  --password-font-color: #55f991;
  --divider-line-color: #2f3e53;
  --button-color: #10b981;
  --primary-font-color: #ffffff;
  --secondary-font-color: #4adf86;
  --tertiary-font-color: #d5d4d8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--background-color);
  line-height: 40px;
  padding: 100px;
}

h1 {
  color: var(--primary-font-color);
}

span {
  color: var(--secondary-font-color);
}

.bottom-container {
  display: flex;
}

#password1-el {
  margin-right: 20px;
}

#password1-el,
#password2-el {
  background-color: var(--password-box-color);
  color: var(--password-font-color);
  height: 40px;
  width: 100%;
  text-align: center;
}
